* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #070517;
  color: white;
  border-radius: 10px;
}

#main-div {
  width: 400px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  border: 1px solid #000;
  padding: 10px;
  margin: 10px;
  margin-top: 18px;
  border: 2px solid white;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;

}

#main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}