version: "3.9"

services:
  server:
    build: ./server
    container_name: backend-server
    networks:
      - fullstack-net
    ports:
      - 5000:5000
  client:
    build: ./client
    container_name: frontend-client
    ports:
      - "5174:80"
    networks:
      - fullstack-net
    depends_on:
      - server
    restart: unless-stopped

networks:
  fullstack-net:
    driver: bridge